stages:
  - test
  - build
  - deploy

test-script:
  stage: test
  tags:
    - rocko2
  script:
    - echo sleeping $DELAY secs
    - sleep $DELAY
    - sh ./runner-test.sh
  variables:
    DELAY: 10

build:
  stage: build
  tags:
    - rocko2
  image:
    name: bitnami/kubectl:latest
    pull_policy: always
    entrypoint: [""]
  script:
    - mkdir -p ~/.kube
    - echo $KUBECONFIG_BASE64 | base64 -d > ~/.kube/config
    - export TF_ENV_config_path = "$HOME/.kube/config"
    - export TF_ENV_config_context = "admin@talos-cluster"
    - echo "config_path = $TF_ENV_config_path" >> $TFVARS_FILE
    - echo "config_context = admin@talos-cluster" $TFVARS_FILE
    - chmod 600 ~/.kube/config
    - kubectl get nodes
    - cat $TFVARS_FILE
    - pwd
    - $(which ls) -ahl
  variables:
    TFVARS_FILE: "vars.tfvars"
