stages:
  - test
  - build
  - deploy

test-script:
  stage: test
  tags:
    - rocko2
  script:
    - echo sleeping $DELAY secs
    - sleep $DELAY
    - sh ./runner-test.sh
    - docker pull nginx:latest
    - echo "$KUBECONFIG_BASE64" | base64 -d > ~/.kube/config
    - chmod 600 ~/.kube/config
    - kubectl get pods
  variables:
    DELAY: 10