stages:
  - test
  - build
  - deploy

test-script:
  stage: test
  tags:
    - rocko2
  script:
    - echo sleeping $DELAY secs
    - sleep $DELAY
    - sh ./runner-test.sh
  variables:
    DELAY: 10

build:
  stage: build
  tags:
    - rocko2
  image:
    name: bitnami/kubectl:latest
    pull_policy: always
    entrypoint: [""]
  script:
    - mkdir -p ~/.kube
    - echo $KUBECONFIG_BASE64 | base64 -d > ~/.kube/config
    - chmod 600 ~/.kube/config
    - kubectl get nodes
