include:
  - project: 'homelab7064608/ci-templates'
    ref: main
    file: 'templates/task-apps-create.yml'

stages:
  - test
  - deploy

test-script:
  stage: test
  tags:
    - rocko2
  script:
    - echo sleeping $DELAY secs
    - sleep $DELAY
    - sh ./runner-test.sh
  variables:
    DELAY: 10

deploy:
  stage: deploy
  tags:
    - rocko2
  extends: apps-create