include:
  - project: 'homelab7064608/ci-templates'
    ref: main
    file: 'templates/task-apps-create.yml'
    inputs:
      BUILD_DIR: '/builds/homelab7064608/k8s-platform'

stages:
  - deploy

apps-create:
  stage: deploy
  tags:
    - rocko2
  extends: .apps-create
