stages:
  - test
  - deploy

test-script:
  stage: test
  tags:
    - rocko2
  script:
    - echo sleeping $DELAY secs
    - sleep $DELAY
    - sh ./runner-test.sh
  variables:
    DELAY: 10

deploy:
  stage: deploy
  tags:
    - rocko2
  image:
    name: pafable-test-builder:0.0.1
    pull_policy: if-not-present
    entrypoint: [""]
  script:
    - mkdir -p ~/.kube
    - echo $KUBECONFIG_BASE64 | base64 -d > ~/.kube/config
    - export TF_ENV_config_path="//.kube/config"
    - export TF_ENV_config_context="admin@talos-cluster"
    - echo "config_path = $TF_ENV_config_path" >> $TFVARS_FILE
    - echo "config_context = admin@talos-cluster" >> $TFVARS_FILE
    - chmod 600 ~/.kube/config
    - kubectl get nodes
    - cp $TFVARS_FILE terraform/apps/
    - cp $TFVARS_FILE terraform/core-1/
    - cp $TFVARS_FILE terraform/core-2/
    - task apps-create
  variables:
    TFVARS_FILE: "vars.tfvars"
    FF_ENABLE_JOB_CLEANUP: "true"