include:
  - project: 'homelab7064608/ci-templates'
    ref: main
    file: 'templates/all.yml'
    inputs:
      REGISTRY_URL_IMAGE_NAME: 'registry.gitlab.com/homelab7064608/k8s-platform/deployer'
      TAG: '0.0.2'

stages:
  - deploy

apps-create:
  stage: deploy
  tags:
    - rocko2
  extends: .apps-create

gitlab-runner-create:
  stage: deploy
  tags:
    - rocko2
  extends: .gitlab-runner-create
  before_script: printenv