include:
  - project: 'homelab7064608/ci-templates'
    ref: main
    file: 'templates/task-apps-create.yml'

stages:
  - test
  - deploy

deploy:
  stage: deploy
  tags:
    - rocko2
  extends: .apps-create